extends layout

block content
    include header
    .container
        .main
            h1= title
            p Add a pattern to our database so you can access it from anywhere.
            br
            .number 
                p 1
            h2 Where is this pattern from?
            a#source-self.source(href="#") 
                span#source-self-focus &diam; 
                |I wrote this pattern
            a#source-outside.source(href="#")
                span#source-outside-focus &diam; 
                |I found this pattern
            form(class="patternForm" name="addpattern", method="post", action="/addpattern", enctype="multipart/form-data")
                ul
                    li.hidden
                        label#sourcename-label My Name
                        input(type="text", placeholder=" ", name="sourcename")
                    li#sourceurl.hidden
                        label Link to Source
                        input(type="text", placeholder="Paste the URL here", name="sourceurl")
                .number 
                    p 2
                h2 About this pattern          
                ul
                    li
                        label Pattern Name
                        input(type="text", placeholder="ex. Lovely Easy Beanie", name="name")
                    li
                        input(type="file", name="photo", id="addphoto")
                        label.upload(for="addphoto")
                            |Add a Photo 
                            .uploadsvg
                                include /images/camera.svg
                    li
                        label Type of Item
                        input(type="text", placeholder="ex. socks", name="type")
                    li
                        a(href="").plus 
                            label Choose Yarn
                            img(src="/images/plus.svg", alt="+").formtoggle
                        a(href="").minus.hidden
                            label Choose Yarn
                            img(src="/images/minus.svg", alt="-").formtoggle
                        .expand.hidden.radiolist
                            .yarn#y2
                                input(type="radio", name="yarnweight", id="yarn2", checked=false, value="Lace / 2ply")
                                label(for="yarn2")   
                                    include /images/yarn-wide.svg
                                    p Lace / 2 ply 
                            .yarn#y4
                                input(type="radio", name="yarnweight", id="yarn4", checked=false, value="Fingering / 4ply")    
                                label(for="yarn4") 
                                    include /images/yarn-wide.svg
                                    p Fingering / 4 ply       
                            .yarn#y5
                                input(type="radio", name="yarnweight", id="yarn5", checked=false, value="Sport / 5ply")
                                label(for="yarn5")
                                    include /images/yarn-wide.svg
                                    p Sport / 5 ply
                            .yarn#y8
                                input(type="radio", name="yarnweight", id="yarn8", checked=false, value="DK / 8ply")
                                label(for="yarn8") 
                                    include /images/yarn-wide.svg
                                    p DK / 8 ply  
                            .yarn#y10
                                input(type="radio", name="yarnweight", id="yarn10", checked=false, value="Worsted / 10ply")    
                                label(for="yarn10") 
                                    include /images/yarn-wide.svg
                                    p Worsted / 10 ply
                            .yarn#y12
                                input(type="radio", name="yarnweight", id="yarn12", checked=false, value="Bulky / 12ply")    
                                label(for="yarn12")
                                    include /images/yarn-wide.svg
                                    p Bulky / 12 ply
                    li 
                        a(href="").plus 
                            label Choose Needles
                            img(src="/images/plus.svg", alt="+").formtoggle
                        a(href="").minus.hidden
                            label Choose Needles
                            img(src="/images/minus.svg", alt="-").formtoggle
                        .expand.hidden.radiolist
                            .needle#n5
                                input(type="radio", name="needlesize", id="needle5", checked=false, value="US 5 / 3.75mm")
                                label(for="needle5")
                                    include /images/needle.svg
                                    p US 5 / 3.75mm
                            .needle#n6
                                input(type="radio", name="needlesize", id="needle6", checked=false, value="US 6 / 4mm")
                                label(for="needle6")
                                    include /images/needle.svg
                                    p US 6 / 4mm
                            .needle#n7
                                input(type="radio", name="needlesize", id="needle7", checked=false, value="US 7 / 4.5mm")
                                label(for="needle7")
                                    include /images/needle.svg
                                    p US 7 / 4.5mm
                            .needle#n8
                                input(type="radio", name="needlesize", id="needle8", checked=false, value="US 8 / 5mm")
                                label(for="needle8")
                                    include /images/needle.svg
                                    p US 8 / 5mm
                            .needle#n9
                                input(type="radio", name="needlesize", id="needle9", checked=false, value="US 9 / 5.5mm")
                                label(for="needle9")
                                    include /images/needle.svg
                                    p US 9 / 5.5mm
                            .needle#n10
                                input(type="radio", name="needlesize", id="needle10", checked=false, value="US 10 / 6mm")
                                label(for="needle10")
                                    include /images/needle.svg
                                    p US 10 / 6mm
                            .needle#n11
                                input(type="radio", name="needlesize", id="needle11", checked=false, value="US 11 / 8mm")
                                label(for="needle11")
                                    include /images/needle.svg
                                    p US 11 / 8mm 
                            .needle#n13
                                input(type="radio", name="needlesize", id="needle13", checked=false, value="US 13 / 9mm")
                                label(for="needle13")
                                    include /images/needle.svg
                                    p US 13 / 9mm
                .number 
                    p 3
                h2 Instructions 
                br
                label Step 1
                //-input(type="text", placeholder="Step 1", name="steptitle")
                textarea(name="instructions", cols="30", rows="10", placeholder="Type or Paste the knitting instructions here.")
                a(href="#0")#addstep 
                    label Add Another Step
                button.button(type="submit") Save
