extends layout

block content
    include header
    .container
        .main
            h1= title
            p Add a knitting pattern to our library and you'll be able to access it from anywhere.
            form(name="addpattern", method="post", action="/addpattern")
                ul
                    //-li
                        button.button I wrote this pattern
                    //-li
                        button.button I found this pattern
                    li
                        label Pattern Name
                        input(type="text", placeholder=" ", name="name")
                    li
                        label Author or Source Name
                        p.hint Please give credit
                        input(type="text", placeholder=" ", name="sourcename")
                        //-input(type="checkbox", name="self")
                        //-| I wrote this pattern
                    li
                        label Link to Source
                        input(type="text", placeholder="Paste the URL here", name="sourceurl")
                    li
                        label Type of Item
                        input(type="text", placeholder="ex: socks", name="type")
                    li 
                        a(href="#").plus 
                            label Choose Yarn
                            img(src="/images/plus.svg", alt="+").formtoggle
                        a(href="#").minus.hidden
                            label Choose Yarn
                            img(src="/images/minus.svg", alt="-").formtoggle
                        .expand.hidden.radiolist
                            .yarn
                                input(type="radio", name="yarnweight", id="yarn2", checked=false, value="Lace / 2ply")
                                label(for="yarn2")   
                                    img#y2(src="/images/yarn-wide.svg", alt="lace weight yarn")
                                    p Lace / 2 ply 
                            .yarn
                                input(type="radio", name="yarnweight", id="yarn4", checked=false, value="Fingering / 4ply")    
                                label(for="yarn4") 
                                    img#y4(src="/images/yarn-wide.svg", alt="fingering weight yarn")
                                    p Fingering / 4 ply       
                            .yarn
                                input(type="radio", name="yarnweight", id="yarn5", checked=false, value="Sport / 5ply")
                                label(for="yarn5")
                                    img#y5(src="/images/yarn-wide.svg", alt="sport weight yarn")
                                    p Sport / 5 ply
                            .yarn
                                input(type="radio", name="yarnweight", id="yarn8", checked=false, value="DK / 8ply")
                                label(for="yarn8") 
                                    img#y8(src="/images/yarn-wide.svg", alt="dk weight yarn")
                                    p DK / 8 ply  
                            .yarn
                                input(type="radio", name="yarnweight", id="yarn10", checked=false, value="Worsted / 10ply")    
                                label(for="yarn10") 
                                    img#y10(src="/images/yarn-wide.svg", alt="worsted weight yarn")
                                    p Worsted / 10 ply
                            .yarn
                                input(type="radio", name="yarnweight", id="yarn12", checked=false, value="Bulky / 12ply")    
                                label(for="yarn12")
                                    img#y12(src="/images/yarn-wide.svg", alt="bulky weight yarn")
                                    p Bulky / 12 ply
                    li 
                        a(href="#").plus 
                            label Choose Needles
                            img(src="/images/plus.svg", alt="+").formtoggle
                        a(href="#").minus.hidden
                            label Choose Needles
                            img(src="/images/minus.svg", alt="-").formtoggle
                        .expand.hidden.radiolist
                            .needle
                                input(type="radio", name="needlesize", id="needle5", checked=false, value="US 5 / 3.75mm")
                                label(for="needle5")
                                    img#n5(src="/images/needle.svg", alt="size 5 needles")
                                    p US 5 / 3.75mm
                            .needle
                                input(type="radio", name="needlesize", id="needle6", checked=false, value="US 6 / 4mm")
                                label(for="needle6")
                                    img#n6(src="/images/needle.svg", alt="size 6 needles")
                                    p US 6 / 4mm
                            .needle
                                input(type="radio", name="needlesize", id="needle7", checked=false, value="US 7 / 4.5mm")
                                label(for="needle7")
                                    img#n7(src="/images/needle.svg", alt="size 7 needles")
                                    p US 7 / 4.5mm
                            .needle
                                input(type="radio", name="needlesize", id="needle8", checked=false, value="US 8 / 5mm")
                                label(for="needle8")
                                    img#n8(src="/images/needle.svg", alt="size 8 needles")
                                    p US 8 / 5mm
                            .needle
                                input(type="radio", name="needlesize", id="needle9", checked=false, value="US 9 / 5.5mm")
                                label(for="needle9")
                                    img#n9(src="/images/needle.svg", alt="size 9 needles")
                                    p US 9 / 5.5mm
                            .needle
                                input(type="radio", name="needlesize", id="needle10", checked=false, value="US 10 / 6mm")
                                label(for="needle10")
                                    img#n10(src="/images/needle.svg", alt="size 10 needles")
                                    p US 10 / 6mm
                            .needle
                                input(type="radio", name="needlesize", id="needle11", checked=false, value="US 11 / 8mm")
                                label(for="needle11")
                                    img#n11(src="/images/needle.svg", alt="size 11 needles")
                                    p US 11 / 8mm 
                            .needle
                                input(type="radio", name="needlesize", id="needle13", checked=false, value="US 13 / 9mm")
                                label(for="needle13")
                                    img#n13(src="/images/needle.svg", alt="size 13 needles")
                                    p US 13 / 9mm 
                    li
                        label Pattern Instructions
                        textarea(name="instructions", cols="30", rows="10")
                button.button(type="submit") Save
